@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  z-index: 0;
}

h2::before {
  content: '';
  width: 115px;
  height: 20px;
  position: absolute;
  margin-top: 45px;
  margin-left: -10px;
  z-index: -1 !important;
  background-color: #341e9585 !important;
}